body
{
  background-image: url("https://cdn.discordapp.com/attachments/979032800340623483/1061575642589692004/IMG_6305.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
